
 

@media screen and (min-width: 992px) {
    .mobile-menu {
        display: none;
    } 
     
}


/* max width */

@media screen and (max-width: 1449px) {
    li.logo {
        margin-right: 30px;
    }
    .menu_item ul li a {
        font-size: 17px;
    }
    
}

@media screen and (max-width: 1399px) {
     
}

@media screen and (max-width:1339px) {
    
   
    
}

@media screen and (max-width:1199px) {
    
  
    
}

@media screen and (max-width:1023px) {
    
}
 
@media screen and (max-width:991px) {
    
    
    
    
    .mobile-menu {
        display: block;
    } 
    .menu_inner {
        display: none;
    }
    
    
}

@media screen and (max-width:880px) {
     
}
@media screen and (max-width:767px) {
   
    .menu_list {
        margin-bottom: 30px;
    }
    
    
}

@media screen and (max-width:575px) {
    
    
     
    .menu_list ul {
        flex-wrap: wrap;
    }
    
    
    
}


@media screen and (max-width:375px) {
    
}

@media screen and (max-width:320px) {
     
    
}